/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #a2b1d0;
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered Lsit element */
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects only IMMEDIATE (1 level deep) image element children
of the header element */
header > img {
  display: inline-block;
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input:last-child {
    background: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 20px;
}

nav {
  display: inline-block;
}

aside {
  display: inline-block;
  width: 180px;
  /* margin-right: 15px; */
  vertical-align: top;
  border-right: 1px solid black;
}

section {
  display: inline-block;
  width: 700px;
  border-left: 1px solid black;
}

.ingredients-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

ol li {
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  display: block;
}

#reviews {
  margin-left: 180px;
}

#expertise {
  margin: 10px;
  width: 200px;
}

#name {
  width: 200px;
}

#review {
  width: 412px;
}