<h2 class="body-content-main-header">Bands</h2>

<div class="content-grid" id="band-index">
  <% @bands.each do |band| %>
      <%= link_to band.name, band_path(band), class: "grid-item content-button", id: "band-link" %>
  <% end %>
</div>