/* PHASE 1: Header */

body {
  font-family: 'Robato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #eeee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #F40305;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.header-nav {
  width: calc(95% - 1px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  border-right: 1px solid #ccc;
  display: flex;
  align-items: stretch;
  font-size: inherit;
}

.header-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.header-list > li {
  position: relative;
}

.header-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-left: 1px solid #ccc;
}

.header a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  margin: 0px;
}

.header a:hover {
  background-color: black;
}