/* PHASE 2: Notifications */

.badge {
  border-radius: 50%;
  padding: 1px 6px;
  background-color: black;
}

li:hover .badge {
  background-color: red;
}

.notification-list {
  display: none;
  background: white;
  position: absolute;
  top: 38px;
  left: -1;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

li:hover .notification-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.notification-list li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.notification-list a {
  color: black;
}

.notification-list a:hover {
  background-color: #eeee;
}