/* PHASE 3: Layout */

.content {
  min-height: 240px;
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: nowrap;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.content-body {
  display: flex;
  flex-wrap: nowrap;
  flex: 2;
}

.content-body div {
  border-right: 1px solid #ccc;
}

.content-sidebar {
  flex: 1;
}

.content-main {
  flex: 3;
}