/* PHASE 4: Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  margin: 0 auto;
  font-size: 14px;
  flex-wrap: nowrap;
}

.footer a, .footer p {
  color: #ababab;
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 20px 15px;
}

#footer-list {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
}

#footer-list li {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.footer a:hover {
  background-color: #eeee;
}