/* PHASE 4: Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(95% - 1px);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  margin: 0 auto;
  font-size: 14px;
  flex-wrap: nowrap;
}

.content {
  min-height: 240px;
  width: 95%;
  background-color: white;
  display: flex;
  /* justify-content: stretch; */
  flex-wrap: nowrap;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.footer a, p {
  color: #ababab;
  text-decoration: none;
}

#footer-list {
  display: flex;
  flex-wrap: nowrap;
}

#footer-list > *, #copyright {
  padding: 20px 15px;
}