/* PHASE 5: Cats */

.content-header {
  max-height: 40%;
  flex: 1;
  border-right: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.content-header h1 {
  position: absolute;
  bottom: 20px;
  left: 240px;
  font-weight: 300;
  line-height: 1;
  font-size: 36px;
  color: white;
  text-shadow: #000 0 0 10px;
}

.content-header button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black;
}

button:hover {
  background-color: #eeee;
}