<h2 class="body-content-main-header"><%= @user.username %></h2>

<div class="content-grid" id="album-index">
  <%= link_to 'Your Bands', user_bands_path(@user), class: "grid-item content-button", id: "user-bands-link" %>
  <%# link_to 'Your Content', ..........................., class: "grid-item content-button", id: "user-content-link" %>
</div>

<h3 class="body-content-links-header">Links</h3>
<div class="content-grid resource-links" id="band-links">
  <%= link_to "Add Band", new_user_band_path(@user), class: "button" %>
  <%= link_to "All Bands", bands_path, class: "button" %>
</div>