<div class="body-content-header">
  <div class="body-content-header-nav">
    <h1>All The Cats in the World</h1>
    <%= link_to 'New Cat', new_cat_url %>
  </div>
</div>

<div class="body-content-main">
  <% @cats.each do |aCat| %>
    <div class="cat-box">
      <%# link_to aCat.name, cat_url(aCat) %>
      <%= render 'cat', aCat: aCat %>
    </div>
  <% end %>
</div>