<div class="body-content-header">
  <div class="body-content-header-nav">
    <h1>Add a cat!</h1>
    <%= link_to 'Cancel', root_path %>
  </div>
</div>

<div class="body-content-main">
  <%= render 'form', cat: @cat %>
</div>