/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

 html, body {
   min-height: 100vh;
   width: 100%;
 }

 h1 {
   color: #FBDB62;
   font-size: 75px;
 }

 h2 {
   color: #3BBAAC;
   font-size: 40px;
 }

 body {
   background-color: #0E0E0E;
   display: flex;
   justify-content: center;
   align-items: stretch;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
  }
  
  h1, h2, h3 {
    font-family: 'Bungee Inline', cursive;
  }

 .body-content {
   width: 90%;
   border-left: 5px solid #777777;
   border-right: 5px solid #777777;
   background-color: #343030;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border-bottom: 1px solid red; */
 }

 .body-content-header {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 75%;
   /* border: 1px solid red; */
 }

 .main-heading {
   text-align: center;
 }

 .header-links {
   width: 100%;
   margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-links > * {
  margin-top: 5px;
}

.session-info {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
}

.session-info > :first-child {
  /* margin-right: 10px; */
}

 .body-content-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 20px;
 }

 .body-content-main-header {
   margin-bottom: 30px;
 }

 .main-content-link {
   margin-bottom: 20px;
 }

 p, a, input, .notification {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   text-decoration: none;
   color: white;
 }

 input[type="text"], input[type="password"] {
   color: black;
   height: 30px;
   width: 70%;
 }

 .button {
   background-color: #87CEEB;
   text-decoration: none;
   color: black;
   padding: 8px;
   border-radius: 5px;
 }

 .app-form {
   width: 40%;
 }

 form {
   display: flex;
   flex-direction: column;
   align-content: space-between;
   color: white;
   /* margin: 1px solid red; */
 }

 .fields, .actions {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }

 .actions {
   align-self: flex-end;
 }

 ul {
   display: flex;
   flex-direction: column;
 }

 ul > li {
   padding-bottom: 10px;
 }

 .content-grid {
   width: 95%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   /* border: 1px solid red; */
 }

 .content-button {
  background-color: #FBDB62;
  text-decoration: none;
  padding: 20px;
  width: 185px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  /* border: 1px solid red; */
  display: block;
  text-align: center;
  line-height: 60px;
 }

 .content-button:hover {
   background-color: orange;
 }