<div class="body-content-header">
  <div class="body-content-header-nav">
    <h1>Sign Up!</h1>
    <%= link_to 'Cancel', root_path %>
  </div>
</div>

<div class="body-content-main">
  <%= render 'form', user: @user %>
</div>